
    <div [ngSwitch]="natnum.title" class="ui raised very padded text container segment">



<!--
    <div *ngSwitchCase="1" class="ui stackable grid">

      <div class="one column row">

        <div class="column">



        </div>

      </div>

      <div class="one column row">

        <div class="column">

          <div class="ui padded segment">
          -->

          <div class="ui top attached big black label">
            <button class="ui right floated mini inverted red icon button" (click)="remove(natnum.title)">
              <i  class="inverted red window close icon"></i>
            </button>
            Prime Factors of {{ natnum.title }}
          </div>

          <div *ngSwitchCase="1" class="ui padded segment">



          <div class="ui large header">

            No Prime Factors
          </div>
          <div class="meta">Unique Factors  ({{ natnum.factors | unique | disparr }})</div>
          <ul class="ui big horizontal list voters">
            <li class="item">
              <a href (click)="voteUp()">
                <i class="arrow up icon"></i>
                  increase
              </a>
            </li>
          </ul>

        </div>











        <!--
      <div class="one column row">

      <div class="column">
        <button class="ui right floated inverted red icon button" (click)="remove(natnum.title)">
          <i  class="red close icon"></i>
        </button>
      </div>

      </div>

      <div class="one column row">

<!--
    <div class="four wide column">



      <div class="ui tiny statistic votes">
        <div class="value">
          {{ natnum.title }}
        </div>
        <div class="label">
          {{ natnum.factors | comp }}
        </div>
      </div>
    </div>
    <div class="6 wide column">
    -->
<!--
      <button class="ui right floated inverted red icon button" (click)="remove(natnum.title)">
        <i  class="red close icon"></i>
      </button>


        <div class="column">
        -->


        <div *ngSwitchDefault class="ui padded segment">



      <div class="ui large header">

        {{ natnum.factdisp }}
      </div>
      <div class="meta">Unique Factors  ({{ natnum.factors | unique | disparr }})</div>
      <ul class="ui big horizontal list voters">
        <li class="item">
          <a href (click)="voteUp()">
            <i class="arrow up icon"></i>
              increase
          </a>
        </li>
        <li class="item">
          <a href (click)="voteDown()">
            <i class="arrow down icon"></i>
            decrease
          </a>
        </li>
      </ul>
    </div>

    </div>


<!--
    </div>

    </div>

    </div>  -->
