

    <div class="ui raised padded text container segment">

      <button class="ui right floated inverted red icon button" (click)="remove(c_string.title)">
        <i  class="red close icon"></i>
      </button>

      <div class="ui centered grid">



        <div class="ui huge teal label"> {{ c_string.title }} </div>

      <div class="row">

      <div class="ui very padded segment">

        <div class="ui top attached black label">{{ c_string.comblen }}</div>
      <!-- <div class="meta"> {{ string.permlen }} </div> -->
          {{ c_string.combdisp }}
      </div>

      </div>

    </div>



    </div>
