
  <div class="ui raised very padded text container segment">


              <div class="ui top attached big black label">

                <button class="ui right floated inverted red mini icon button" (click)="remove(c_string.title)">
                  <i  class="inverted red close icon"></i>
                </button>

                {{ c_string.comblen }} of {{ c_string.choices }} characters from '{{c_string.title}}'

              </div>
      <!-- <div class="meta"> {{ string.permlen }} </div> -->
            <div class="ui padded segment">
              {{ c_string.combdisp }}
            </div>
          </div>
