
    <div class="ui raised very padded text container segment">

        <div class="ui top attached big black label">
          <button class="ui right floated inverted red mini icon button" (click)="remove(string.title)">
            <i  class="inverted red close icon"></i>
          </button>
          {{ string.permlen }} of '{{string.title}}'
        </div>
      <!-- <div class="meta"> {{ string.permlen }} </div> -->
          <div class="ui segment">

            {{ string.permdisp }}
          </div>

      </div>
