
    <div class="ui raised padded text container segment">

      <button class="ui right floated inverted red icon button" (click)="remove(string.title)">
        <i  class="red close icon"></i>
      </button>

      <div class="ui centered grid">



        <div class="ui huge teal label"> {{ string.title }} </div>

      <div class="row">

      <div class="ui very padded segment">

        <div class="ui top attached black label">{{ string.permlen }}</div>
      <!-- <div class="meta"> {{ string.permlen }} </div> -->


          {{ string.permdisp }}
      </div>

      </div>

    </div>

  

    </div>
